.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.black-bgcolor{
  background-color: #424242 !important;
}
.blue-fb{
  background-color: #3a5898 !important;
}

.blue-google{
  background-color: #2196f3 !important;
}

.text-transform-capitalize{
  text-transform: capitalize !important;
}

.padding-container.login{
  margin-top: 20vh;
}
.full-width{
  width: 100%;
}
.display-inline-block{
  display: inline-block;
}
.display-flex{
  display: flex;
}
.text-center{
  text-align: center;
}
